<div id="header-post">
  <a id="top-icon-tablet" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');" style="display:none;"><i class="fas fa-chevron-up fa-lg"></i></a>
    <span id="actions">
      <ul>
        <% if (page.prev) { %>
        <li><a class="icon" href="<%- url_for(page.prev.path) %>" rel="prev" data-internal title="<%- __('post.desktop.previous') %>"><i class="fas fa-chevron-left" aria-hidden="true"></i></a></li>
        <% } %>
        <% if (page.next) { %>
        <li><a class="icon" href="<%- url_for(page.next.path) %>" rel="next"  data-internal title="<%- __('post.desktop.next') %>"><i class="fas fa-chevron-right" aria-hidden="true"></i></a></li>
        <% } %>
        <li><a class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');" data-internal title="<%- __('post.desktop.back_to_top') %>"><i class="fas fa-chevron-up" aria-hidden="true"></i></a></li>
        <li><a class="icon" href="#"><i class="fas fa-share-alt" aria-hidden="true" onmouseover="$('#i-share').toggle();" onmouseout="$('#i-share').toggle();" onclick="$('#share').toggle();return false;"></i></a></li>
      </ul>
      <span id="i-prev" class="info" style="display:none;"><%= __('post.desktop.previous') %></span>
      <span id="i-next" class="info" style="display:none;"><%= __('post.desktop.next') %></span>
      <span id="i-top" class="info" style="display:none;"><%= __('post.desktop.back_to_top') %></span>
      <span id="i-share" class="info" style="display:none;"><%= __('post.desktop.share') %></span>
    </span>
    <br/>
    <div id="share" style="display: none">
      <%- partial('_partial/post/share', { icon_class_name: '' }) %>
    </div>
    <div id="toc">
      <%- toc(page.content) %>
    </div>
  </span>
</div>
