<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body class="<%- theme.direction -%>">
  <% if (is_post()) { %>
    <%- partial('_partial/post/actions_desktop') %>
  <% } %>

  <%- partial('_partial/header', {}, {cache: true}) %>

  <main class="main">
      <%- body %>
  </main>

  <%- partial('_partial/footer') %>
</body>
</html>
<%- partial('_partial/styles') %>
<%- partial('_partial/scripts') %>
