<article class="post content" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
<!--
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.title %><% } %></span>
      </span>
-->
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <%- partial('_partial/post/ajax-gallery') %>
  <div class="post-content" itemprop="articleBody">
    <%- page.content %>
  </div>
  <%- partial('_partial/post/post-footer') %>
</article>

<%- partial('_partial/comments') %>
